body{
    color: white;
     text-align: center; 
    font-family: 'Ysabeau Infant', sans-serif;
    background-image: url(survey-form-background.jpeg);
    
}
.span1{
    color: rgb(241, 221, 221);
    font-size: small;
}
form{
    padding-top: 3rem;
    padding-right: 30rem;
    padding-left: 30rem;
    text-align: left;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: left;
}